<!DOCTYPE html>

<!--
Note: This is a basic UI for reviewing Chronos logs
-->

<html lang="en">
  <head>
    <title>Chronos Logs</title>

    <link href="css/bootstrap.min.css" media="all" rel="stylesheet" />
  </head>
  <body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js?body=1"></script>



    {{{ body }}}

  </body>
</html>
