<!DOCTYPE html>

<!--
Note: This is an example Express application for you to start with. Fork
this repository and build your own Express app to run on a P2P VPS!
https://github.com/P2PVPS/localtunnel-test-app

Copyright 2018 Chris Troutner & P2PVPS.org
Licensing Information: MIT License
-->

<html lang="en">
  <head>
    <title>Example P2P VPS Express App</title>

    <link href="css/bootstrap.min.css" media="all" rel="stylesheet" />
  </head>
  <body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js?body=1"></script>



    {{{ body }}}

  </body>
</html>
