<style>
  .glyphicon {
    font-size: 48px;
  }
</style>

<section style="padding-top: 70px;">
  <div class='container'>
    <div class='row well well-lg'>
      <div class='col-md-6'>
        <h2>This is your Express Application</h2>
        <p class='lead'>
          Congradulations! You have successfull started an express application
          on your P2P VPS rental. That's a big step! You can now anonymously serve
          webpage and web applications!
        </p>
        <a role='button' class='btn btn-lg btn-default' href="http://p2pvps.org" target="_blank">Find out more</a>
        <button type='button' class='btn btn-lg btn-primary'>Rule the World!</button>
      </div>
      <div class='col-md-6 visible-md visible-lg'>
        <img src='/images/logo.jpg' alt='Blast off with Bootstrap' />
      </div>
    </div>

    <div class='row text-center features'>
      <div class='col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0'>
        <i class='glyphicon glyphicon-briefcase '></i>
        <h3>Lorem ipsum</h3>
        <p>
          dolor sit amet, consectetur adipiscing elit. Suspendisse ultricies placerat accumsan.
        </p>
      </div>

      <div class='col-sm-4 col-xs-6'>
        <i class='glyphicon glyphicon-random'></i>
        <h3>Etiam ultricies</h3>
        <p>
          eleifend varius. Sed ac placerat tortor. Vivamus at ligula tellus.
        </p>
      </div>

      <div class='col-sm-4 col-xs-6'>
        <i class='glyphicon glyphicon-send'></i>
        <h3>Aliquam sed &reg;</h3>
        <p>
          convallis quam. Etiam aliquet, tortor vitae molestie accumsan, tortor sem condimentum magna, in venenatis felis augue ac turpis.
        </p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  // Global variables

</script>
