<style>
  .glyphicon {
    font-size: 48px;
  }
</style>

<section style="padding-top: 70px;">
  <div class='container'>
    <div class='row well well-lg'>
      <div class='col-md-6'>
        <h2>The Fastest Way to Space</h2>
        <p class='lead'>Make your way to space in our rocket, elevator or transporter.</p>
        <button type='button' class='btn btn-lg btn-default'>Take the Tour</button>
        <button type='button' class='btn btn-lg btn-primary'>Book Tickets Now</button>
      </div>
      <div class='col-md-6 visible-md visible-lg'>
        <img src='/images/logo.jpg' alt='Blast off with Bootstrap' />
      </div>
    </div>

    <div class='row text-center features'>
      <div class='col-sm-4 col-xs-10 col-xs-offset-1 col-sm-offset-0'>
        <i class='glyphicon glyphicon-briefcase '></i>
        <h3>Book Today!</h3>
        <p>Even if you're traveling tomorrow, you can still get tickets today. We have a number of conveniently located ports around the globe to service everyone.</p>
      </div>

      <div class='col-sm-4 col-xs-6'>
        <i class='glyphicon glyphicon-random'></i>
        <h3>Go Anywhere</h3>
        <p>If you need to get to space today, why not try out a transporter? Despite the claims, there are have been no deaths in the last 6 weeks!</p>
      </div>

      <div class='col-sm-4 col-xs-6'>
        <i class='glyphicon glyphicon-send'></i>
        <h3>RocketBus&reg;</h3>
        <p>For cheapest fares, catch the next RocketBus&reg; to the stars. Cheaper on your wallet, and easiest way to make friends.</p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  // Global variables

</script>
